<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="blak.android.sensors.level"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:theme="@style/AppTheme">

        <activity
                android:name=".LevelActivity"
                android:label="Level"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="blak.android.sensors.compass.CompassActivity"
                android:label="Compass"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
                android:name="blak.android.sensors.movement.MovementActivity"
                android:label="Movement"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
